@media only screen and (min-width:320px) and (max-width:420px){
    .contenedor{
        width: 100%;
        margin: 0px;
    }
    .noticias{
        flex-direction: column-reverse;
        align-items: center;
        .filtro{
            width: 33%;
            margin-left: 46px;
            margin-bottom: 30px;
        }
        .resultado{
            width: 100%;
            flex-wrap: wrap;
            .noticia{
                margin: 15px;
                .contenido-noticia{
                    .descp-contenedor{
                        height: 85px;
                    }
                } 
            }
        }
       
    }
    .buscador{
        height: 150px;
        width: 100%;
        .form{
            form{
                width: 100%;
                height: 118px;
                flex-direction: column;
                .boton{
                    width: 30%;
                }
            }
        }   
    }

    .login-form{
        width: 100%;
        margin: auto;
        min-height: 115vh;    
    
    div{
        width: 100%;
        margin: auto;
        margin-top: 18px;
        text-align: center;
        input{
            width: 90%;
            height: 35px;
            margin: auto;
        }
        
        }
        .boton-login{
            #ingreso{
            height: 55px;
        }
    }
    }
    .login-form{
        min-height: 75vh;
    } 
    .form-reg{
        min-height: 85vh;
    }
}
